body {
    background-color: ghostwhite;
    text-align: center;
    padding: 30PX;
}
.container h1{
    font-size: 50px;
    color: brown;
    margin-top: 100px;
}

.container p{
    font-size: 20px;
    color: grey(233, 233, 233);
    margin-top: 50px;
}
 
.container h2{
    font-size: 30px;
    color: brown;
    margin-top: 50px;
}

.container button{
    font-size: 20px;
    color: white;
    background-color: rgb(230, 192, 25);
    padding: 10px 20px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}